{% extends 'layout.html' %}

{% block body %}
	<h1>Contact Us</h1>
	<!-- Form Helper, define how eac field looks, call it from includes -->
	{% from "includes/_formhelpers.html" import render_field %}
	<form method="POST" action="">
		<div class="form-group">
			{{render_field(form.name, class="form-control")}}
		</div>

		<div class="form-group">
			{{render_field(form.email, class="form-control")}}
		</div>
		<!-- p tags show up in sent email, need to clean {{safe?}} -->
		<div class="form-group">
			{{render_field(form.comment, class="form-control", id="editor")|safe}}
		</div>
		<p><input type="submit" class="btn btn-primary"value="Submit"></p>
	</form>
{% endblock %}